<h1 class="titulo" >

    <div fxLayout="col" fxLayoutAlign="center start" fxLayoutGap="30px">
        <span>Nota Fiscal</span>         
    </div>

    <div fxLayout="col" fxLayoutAlign="center start" fxLayoutGap="30px">
        <span>Eletrônica</span>         
    </div>
    
</h1>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Essa rotina faz a Integração dos dados de XML e as configurações fiscais do Auditto para o Protheus, na importação dos dados o Protheus gera a nota fiscal de entrada já classificada, para isso a conversão e destinação precisam estar preenchidas no Auditto.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    O sistema busca via API as notas ficais convertidas na Auditto, essa conversão pode ser realizada na confirmação de entrada da nota (check-in), assim o trabalho é simples podendo ser realizado por quem recebe o material e saiba para que será utilizado.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    O Protheus com base nas regras fiscais do Auditto, utiliza uma TES que atenda as configurações ou a cria caso não exista, ele também cria exceção fiscal caso seja necessário, tudo para que o Fiscal fique correto. As duplicatas são carregadas conforme o XML e caso não exista uma condição de pagamento que atenda as configurações o sistema também a cria.
</div>
    
<div class="text" fxLayout="row" fxLayoutAlign="start start">
    
        <ul class="ul">Pré-Requisitos:
        <li class="li">Instalador rodado;</li>
        <li class="li">Integrador configurado;</li>
        <li class="li">Patch de NFE compilada;</li>
        <li class="li">Acesso ao Auditto criado;</li>
        <li class="li">Conversor auditto executado;</li>
        </ul>
    
</div>

<section id="tp1Nfe">
        <h2 class="subtit" >
        
            <div fxLayout="col" fxLayoutAlign="start start" fxLayoutGap="30px">
                <li><span>Funcionamento:</span></li>
            </div>
            
        </h2>
</section>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Acesse o Auditto ->Gestor Fiscal
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/auditto_opc.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Check-In
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/auditto_chkin.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Realize a leitura do código de barras da nota de entrada.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/auditto_chkin_cab.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/auditto_chkin_itens.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Para nota de entrada normal, pode-se selecionar o pedido de compra pelo cabeçalho e o sistema identifica os itens pelo preço e amarra automaticamente.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/auditto_chkin_pc_cab.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/auditto_chkin_pc_cab_2.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Pode selecionar por item, para isso é necessário selecionar o produto primeiro e caso sua empresa não utilize PC apenas o produto é necessário.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/auditto_chkin_pc_it_prd_1.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    O NCM do XML já vem marcado como filtro do produto para facilitar a busca.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/auditto_chkin_pc_it_prd_2.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Só vem os pedidos de compra com saldo para o produto selecionado.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/auditto_chkin_pc_it_1.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Caso seja uma nota de retorno não aparecerá o produto e nem pedido para ser selecionado e aparecerá um novo campo de nota referenciada.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/auditto_chkin_nfref_1.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Com o buscar ela pode ser selecionada de forma simples e prática.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/auditto_chkin_nfref_2.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Para que o sistema gere as parcelas conforme informação do XML é preciso criar o ponto de entrada MTColSE2.
</div>

<textarea autosize class="box" readonly="true" >
        
        User Function MTColSE2

        Local aColsSE2 := Paramixb[1]

        aColsSE2 := U_XMLAP001(aColsSE2)
        
        Return aColsSE2
</textarea>
    

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    O programa fará a leitura das notas registradas e processará a entrada automaticamente, você pode acompanhar o processo pela tabela informada no configurador.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/auditto_acmp_1.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/auditto_acmp_2.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Caso dê algum erro o sistema gravará o retorno na tabela para que possa ser analisado, quando o Job for executado novamente a nota com problema será reprocessada.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/auditto_acmp_3.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/auditto_acmp_4.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    A base utilizada estava sem informação, veja o cadastro de TES após o término do processamento:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/cad_tes.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Veja os documentos de entrada:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/cad_nfe.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/nfe_det.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Recomendação: Coloque primeiro o processo para rodar em uma base de testes e confira com a sua base de produção se a nota está correta, o sistema não incluirá uma mesma nota novamente, apenas mudará o status na tabela avisando-o que a nota foi incluída manualmente.
</div>

<section id="tp2Nfe">
        <h2 class="subtit" >
        
            <div fxLayout="col" fxLayoutAlign="start start" fxLayoutGap="30px">
                <li><span>Pontos de Entrada:</span></li>
            </div>
            
        </h2>
</section>

<div fxLayout="col" fxLayoutAlign="start start" fxLayoutGap="30px">
    <ul>
    <li>XMLPU004 - Tratar gravação do cabeçalho na importação das informações da NF-e - Está posicionado na tabela e não têm retorno .</li>
    <li>XMLPU005 - Tratar gravação dos itens na importação das informações da NF-e - Está posicionado na tabela e é chamado por item e não têm retorno .</li>
    <li>XMLPU006 - Tratar gravação da duplicata na importação das informações da NF-e - Está posicionado na tabela e é chamado por parcela e não têm retorno .</li>
    <li>XMLPU003 - Tratar array de ExecAuto cabeçalho e itens - Recebe como parâmetro os arrays e como retorno espera os arrays.</li>
    </ul>
</div>

<textarea class="box" autosize readonly="true" >

        User Function XMLPU003

        Local aCab   := Paramixb[1]
        Local aItens := Paramixb[2]
        
        Return {aCab,aItens}
</textarea>
    