<h1 class="titulo">

    <div fxLayout="col" fxLayoutAlign="center start" fxLayoutGap="30px">
        <span>Entrada de NFE/CTE</span>
    </div>

</h1>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    A rotina utilizada para dar entrada nos documentos pode ser chamada pela rotina de painel ou/e pelo menu, para
    acessar pelo menu vai em Gestor Fiscal -> Check-In:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/dnf-ent-mnu-checkin.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Informe a operação:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/dnf-ent-oper.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Informe o pedido de compra:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/dnf-ent-pc.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    As informações podem ser selecionadas por item:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/dnf-ent-item.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Para preencher financeiro informe a Quantidade de Parcelas e de Dias depois clique em calcular:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/dnf-ent-fin.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Para confirmar existem dois botões, "Registrar Entrada" e "Registrar sem Entrada", caso deseje salvar as informações
    mas não deseje que a nota seja integrada clique em "Registrar sem Entrada", caso deseje dar entrada na nota no
    Protheus clique em "Registrar Entrada":
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/dnf-ent-conf.png" class="img-fluid" />
</div>