<h1 class="titulo">

    <div fxLayout="col" fxLayoutAlign="center start" fxLayoutGap="30px">
        <span>Conversão de NFE</span>
    </div>

</h1>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    A conversão ocorre automaticamente caso haja regra DePara cadastrada, porém caso não tenha o documento ficará como
    não convertido, para ver o documento acesse Gestor Fiscal -> Escrituração -> NF-e Recebidas
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/conv-nfe-mnu.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Clique para detalhar as não convertidas:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/conv-nfe-detalhar.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Ao clicar no (+) pode verificar mais detalhes da nota na tela e para verificar a conversão clique no botão "Não
    Convertida":
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/conv-nfe-btn-conv.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Será verificada a falta de uma regra caso não tenha a seta para o novo valor:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/conv-nfe-regra.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Pode-se alterar a operação pelo item ou pelo cabeçalho atribuindo o valor para todos os itens:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/conv-nfe-regra-oper.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Depois da regra criada ou corrigida é só confirmar:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/conv-nfe-regra-conf.png" class="img-fluid" />
</div>