<h1 class="titulo">

    <div fxLayout="col" fxLayoutAlign="center start" fxLayoutGap="30px">
        <span>Cadastros</span>
    </div>

</h1>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <ul class="ul">Para que a conversão dos documentos ocorra de forma automática é importante que os cadastros de
        impostos estejam realizados:
        <li class="li">De-Para ICMS</li>
        <li class="li">De-Para Pis e Cofins</li>
    </ul>
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Acesse Gestor Fiscal -> Impostos -> DePara ICMS:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/dnf-cad-mnu-depara.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Cadastro DePara ICMS:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/dnf-cad-depara-icms.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Cadastro DePara Pis/Cofins:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/dnf-cad-depara-piscof.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    A amarração de produto Fornecedor x produto Protheus pode ser feita no Protheus e isso é enviado para o Auditto,
    pode ser feita direto no check-in ou no cadastro de produto do Auditto. Para fazer pelo cadastro de produto acesse
    Gestor Fiscal -> Cadastros -> Produtos:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/dnf-cad-mnu-prd.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Selecione o produto e clique no olho:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/dnf-cad-prd-1.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Clique adicionar registro e informa o participante e o código do participante:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/dnf-cad-prd-2.png" class="img-fluid" />
</div>