<h1 class="titulo">

    <div fxLayout="col" fxLayoutAlign="center start" fxLayoutGap="30px">
        <span>Cadastros</span>
    </div>

</h1>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    A amarração do cadastro não precisa ser realizada da maneira apresentada aqui, pois ela pode ser feita no momento da
    escrituração, caso prefira fazer assim verifique o manual de escrituração de serviço.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <ul class="ul">Para que a conversão dos documentos ocorra de forma automática é importante que haja amarração do
        cadastro de serviços (produto com o tipo SV) com o fornecedor + código de serviços:
        <li class="li">Cadastro de serviços</li>
        <li class="li">Amarração - Código de Serviço + Participante</li>
    </ul>
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Acesse Gestor Fiscal -> Cadastro -> Serviços, muito importante, caso não use Pedido de Compra, o código de serviço
    desse cadastro precisa ser igual ao código de produto a ser
    utilizado para entrada da nota no Protheus:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/nfs-cad-mnu.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Ao acessar a tela existe a opção adicionar e a opção do olho para associar o serviço e fornecedores:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/nfs-cad-brw.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Ao acessar a tela existe a opção adicionar e a opção do olho para associar o serviço e fornecedor, na aba tributo
    verifique se o serviço terá crédito de pis e cofins:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/nfs-cad-trb.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Na aba fornecedores, clique em Adicionar Participante:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/nfs-cad-forn.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Preencha os dados de retenção, fornecedor e código de serviço:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/nfs-cad-forn-ret.png" class="img-fluid" />
</div>