<h1 class="titulo" >

    <div fxLayout="col" fxLayoutAlign="center start" fxLayoutGap="30px">
        <span>Auditto</span>         
    </div>
        
</h1>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Entre nos parâmetros de configuração do módulo Gestor Fiscal, comece pelo check-in, a rotina utilizada para entrada de documentos:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/conf-audt-parm_check-in.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Parâmetros de manifestação:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/conf-audt-parm_manif.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Parâmetros de integração e conversão:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/conf-audt-parm_int_conv.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Altere a opção dos parâmetros para Integrações:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/conf-audt-parm_int001.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Ative as integrações Protheus em configurações:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/conf-audt-parm_int002.png" class="img-fluid" />
</div>