<h1 class="titulo" >

    <div fxLayout="col" fxLayoutAlign="center start" fxLayoutGap="30px">
        <span>Integração</span>         
    </div>

    <div fxLayout="col" fxLayoutAlign="center start" fxLayoutGap="30px">
        <span>Auditto & Protheus</span>         
    </div>

</h1>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Este tutorial demonstra como é a instalação, acompanhamento da integração e automatização entre o Auditto & Protheus. 
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    A Auditto é  uma empresa especialista na oferta de soluções completas de softwares de alto valor tecnológico para redução da carga tributária, recuperação de créditos e compliance fiscal. O ERP Protheus da TOTVS é completo, flexível e acompanha o crescimento da sua empresa com controle total de todas as atividades administrativas/financeiras (backoffice).
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Na imagem abaixo é possível verificar como funciona a troca de informações entre os sistemas.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
<img src="assets/img/protheus&auditto.png" class="img-fluid" />
</div>