<h1 class="titulo" >

    <div fxLayout="col" fxLayoutAlign="center start" fxLayoutGap="30px">
        <span>Instalador</span>         
    </div>
    
</h1>
    
<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Este tutorial explica como funciona o processo de instalação da integração Protheus & Auditto. Esse programa criará os dicionários de dados de estrutura para processamento da integração.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Abra o smartclient e no lugar da chamada de programa inicial preencha U_ADTINS001 e clique em Ok.
</div>      

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/instalador_smart_inicial.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Selecione o produto, entre: Todos, XML - Para entrada de documentos, APR - Apuração para o cruzamento de apurações. Informe o usuário e senha da API que foram enviados pela auditto, caso deseje não instalar em alguma empresa, é só alterar a seleção.
</div>      
    
<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/instalador_smart_cfg.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Caso selecione o XML ou Todos, aparecerá uma outra tela de parâmetros para informar as tabelas que serão utilizadas na tua empresa, ele vai criar três tabelas, uma para o cabeçalho, outra para os itens e uma para as duplicatas:
</div>      
        
<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/instalador_smart_xml.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Aguarde o término do processamento.
</div> 

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/instalador_processamento.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/instalador_processamento_fim.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Recomendação: Confira a geração dos dicionários de dados SX2, SX3, SIX e SX6.
</div>      
            
<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/instalador_sx6.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px" >
        <img src="assets/img/instalador_sx3.png" class="img-fluid" />
</div>