<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
      <span>Auditto & Protheus</span>             
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>      
      <span class="fill-remaining-space"></span>
      <div fxShow="true" fxHide.lt-md="true" fxLayoutAlign="end center">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a (click)="setDocTitle( 'Home' )" routerLink="/home" routerLinkActive="active" mat-button>Home</a>
        <button mat-button [matMenuTriggerFor]="insMenu">Instalador</button>   
        <mat-menu #insMenu="matMenu" yPosition="below">
          <button mat-menu-item (click)="setDocTitle( 'Instalador' )" routerLink="/instalador" >Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>   
        <a (click)="setDocTitle( 'Integrador' )" routerLink="/integrador" routerLinkActive="active" mat-button>Integrador</a>
        <a (click)="setDocTitle( 'Cadastros' )" routerLink="/cadastros" routerLinkActive="active" mat-button>Cadastros</a>
        <a (click)="setDocTitle( 'NF-e' )" routerLink="/nfe" routerLinkActive="active" mat-button>NF-e</a>
      </div>
    </mat-toolbar-row> 
</mat-toolbar>

<mat-sidenav-container class="main-sidenav-container">
    <mat-sidenav #sidenav fullscreen>
      <mat-nav-list>
        <a (click)="setDocTitle( 'Home' )" routerLink="/home" routerLinkActive="active" mat-list-item>Home</a>
        <button mat-button [matMenuTriggerFor]="insMenu">Instalador</button>   
        <mat-menu #insMenu="matMenu" yPosition="below">
          <button mat-menu-item (click)="setDocTitle( 'Instalador' )" routerLink="/instalador" >Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>  
        <a (click)="setDocTitle( 'Integrador' )" routerLink="/integrador" routerLinkActive="active" mat-list-item>Integrador</a>
        <a (click)="setDocTitle( 'Cadastros' )" routerLink="/cadastros" routerLinkActive="active" mat-list-item>Cadastros</a>
        <a (click)="setDocTitle( 'NF-e' )" routerLink="/nfe" routerLinkActive="active" mat-list-item>NF-e</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <mat-drawer-container>
            <mat-drawer class="menuSide" mode="side" opened>
                <a *ngFor="let navItem of mainMenuItems" 
                   class="menuSide"
                   [routerLink]="[navItem.path]" mat-button>
                    {{navItem.title}}
                </a>
            </mat-drawer>
            <mat-drawer-content>
              <router-outlet></router-outlet>
            </mat-drawer-content>
        </mat-drawer-container>
    </mat-sidenav-content>
</mat-sidenav-container>
