.fill-remaining-space {
   /* This fills the remaining space, by using flexbox. 
      Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }

.mat-toolbar {
   position: relative;
   z-index: 0;
 }

 .menuSide {
  background-color: rgb(235, 230, 230);
  font-style: normal;
  font-size: smaller;
 }

 @media screen and (min-width: 960px) {
   mat-toolbar {
      z-index: 50;
   }
 }
 
 @media screen and (max-width: 599px) {
   mat-toolbar {
      z-index: 0;
   }
 }
 
 @media screen and (max-width: 599px) {
     .main-sidenav-container {
         width: 100%;
         height: calc(100vh - 56px);
         z-index: 100;
     }
 }
 
 @media screen and (min-width: 600px) {
   .main-sidenav-container {
       width: 100%;
       height: calc(100vh - 64px);
   }
 }

 .container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}

 a:hover, a:active{
   color: lightgray;
   text-decoration: none;
}
/*
 .mat-sidenav-container {
   display: flex;
   flex-direction: column;
   position: absolute;
 }

 .mat-sidenav-content {
    max-width: 1180px;
    margin: 0px auto;
    min-height: 100vh;
    padding: 24px;
  }
*/