
<h1 class="titulo" >

    <div fxLayout="col" fxLayoutAlign="center start" fxLayoutGap="30px">
        <span>Cadastros</span>         
    </div>
    
</h1>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Essa rotina faz a Integração dos cadastros bases do Protheus para o Auditto, esses cadastros podem ser revisados no Auditto para retornarem depois para o Protheus, mas essa revisão é a cargo do Cliente, não é obrigatória. Essa integração está separada em três modalidades: Cadastro, Movimento e Auxiliar. Apenas a modalidade de cadastro pode ser revisada.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    O Protheus busca as informações que são enviadas para o Auditto, caso elas sofram alguma alteração o programa a envia novamente, elas são importantes para realizar o vinculo com os documentos, como por exemplo, o produto fornecedor x cliente para entrada da NFE.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Já está configurado por default o envio das informações de Fornecedor, Produto - Materiais, Produto - Serviços, Amarração de Produtos e Pedido de Compra. Os principais filtros e campos já estão configurados e caso algum campo precise de uma consulta auxiliar o sistema também envia essa tabela para o Auditto.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Os filtros de consulta dos dados, as tabelas e os campos, podem ser modificados via ponto de entrada, os detalhes se encontram neste mesmo tutorial.
</div>


<div class="text" fxLayout="row" fxLayoutAlign="start start">
    
    <ul class="ul">Pré-Requisitos:
    <li class="li">Instalador rodado;</li>
    <li class="li">Integrador configurado;</li>
    <li class="li">Patch de Cadastro compilada;</li>
    </ul>

</div>

<section id="tp1Cadastros">
    <h2 class="subtit" >
    
        <div fxLayout="col" fxLayoutAlign="start start" fxLayoutGap="30px">
            <li><span>Funcionamento:</span></li>
        </div>
        
    </h2>
</section>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    O sistema cria tabelas por empresa/filial/tabela para fazer o controle da integração, elas são tabelas verticalizadas pois são totalmente flexiveis.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start">
    
    <ul class="ul">As tabelas para controle das integrações (ZZ é a Empresa, XX é a Filial e YYY é a tabela):
    <li class="li">Tabelas (DADEXPTABZZXX);</li>
    <li class="li">Campos (DADEXPCPOZZXX);</li>
    <li class="li">Dicionário (SX3EXPZZXX);</li>
    <li class="li">Dados (DADEXPCABZZXXYYY, DADEXPITMZZXXYYY);</li>
    </ul>

</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Essas tabelas servem para o sistem fazer a comparação daquilo que foi enviado versus o que existe no sistema. Quando um cadastro é alterado ou incluído ele gera um processo de revisão que é enviado para o Auditto. Existe uma tela para acompanhar as integrações e as revisões.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    A tela é dividida em duas partes, a de cima é o controle das revisões a de baixo o controle dos documentos e suas etapas.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/painel.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Pode-se clicar no número são demonstrados os itens que o representam.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/revisados.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    No canto inferior direito pode-se verificar a data e hora do ultimo sincronismo entre os sistemas.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/painel_ult_int.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    O formulário de revisão de cadastros é dinâmico conforme pontos de entrada selecionados pelo cliente, por default alguns campos já estão selecionados para revisão. A obrigatoriedade dos campos não está amarrada ao dicionário para que o cliente possa selecionar campos distintos como obrigatórios no processo de revisão, criando como dois formulários um mais simples de inclusão e outro mais especifico de revisão.
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/formulario.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    O sistema envia automaticamente a tabela auxiliar de campos do formulário conforme identificação no dicionário de dados (SX3).
</div>

<div class="text" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <img src="assets/img/formulario_combo.png" class="img-fluid" />
</div>

<section id="tp2Cadastros">
    <h2 class="subtit" >
    
        <div fxLayout="col" fxLayoutAlign="start start" fxLayoutGap="30px">
            <li><span>Pontos de Entrada:</span></li>
        </div>
        
    </h2>
</section>

<div fxLayout="col" fxLayoutAlign="start start" fxLayoutGap="30px">
    <ul>
    <li>XMLPU007 - Para adicionar tabelas na integração ou/e modificar filtros, caso adicione uma tabela é preciso criar o XMLPU008 para adicionar campos a essa tabela.</li>
    </ul>
</div>

<textarea class="box" autosize readonly="true">

    User Function XMLPU007

    Local aTab := Paramixb
    
    /****Exemplo de preenchimento********
        aadd(aTab,{"SB1_SRV","CAD","B1_TIPO = 'SV'"                                                    })
        aadd(aTab,{"SC7"    ,"MOV","( C7_QUANT - C7_QUJE ) > 0 AND C7_RESIDUO = ' ' AND C7_ENCER = ' '"})
    ********/
    
    Return aTab
</textarea>

<div fxLayout="col" fxLayoutAlign="start start" fxLayoutGap="30px">
    <ul>
    <li>XMLPU008 - Para adicionar campos na integração.
    </ul>
</div>

<textarea class="box" autosize readonly="true" >

    User Function XMLPU008

    Local cTab  := Paramixb[1]
    Local aCpos := Paramixb[2]
    
    /****Exemplo de preenchimento********
        1-Campo, 2 - S para revisar o campo no Auditto e N para não revisar o campo, 3 - S para obrigatório e N para não obrigatório.
    
        aadd(aCpos,{'B1_DESC'  ,'N','N'}) //Campo não revisado e não obrigatório
        aadd(aCpos,{'B1_POSIPI','S','S'}) //Campo revisado e obrigatório
    ********/
    
    Return aCpos
</textarea>

<div fxLayout="col" fxLayoutAlign="start start" fxLayoutGap="30px">
    <ul>
    <li>XMLPU009 - Recebe os arrays detalhados da SX3 e dados das tabelas.
    </ul>
</div>

<textarea class="box" autosize readonly="true" >

    User Function XMLPU009

    Local aSX3  := Paramixb[1]
    Local aTabs := Paramixb[2]
    
    /****Exemplo de preenchimento********
    
    cTp:
         CAD - Cadastro
         MOV - Movimento
         AUX - Auxiliar
    
    cFil: Filtro na tabela.
    
        aadd(aTabs,{ cTab, AllTrim(SX2->X2_NOME), SX2->X2_UNICO, cFil, aCpos, cTp, .F. } )
        
        aadd(aSX3,{ aTabs[a][1]  ,SX3->X3_CAMPO,;
                    {"X3_ORDEM"  ,SX3->X3_ORDEM  },;
                    {"X3_TIPO"   ,SX3->X3_TIPO   },;
                    {"X3_TAMANHO",SX3->X3_TAMANHO},;
                    {"X3_DECIMAL",SX3->X3_DECIMAL},;
                    {"X3_TITULO" ,SX3->X3_TITULO },;
                    {"X3_DESCRIC",SX3->X3_DESCRIC},;
                    {"X3_F3"     ,SX3->X3_F3     },;
                    {"X3_REVISA" ,aCpos[b][2]    },;
                    {"X3_OBRIGAT",aCpos[b][3]    },;
                    {"X3_CBOX"   ,SX3->X3_CBOX   } ;
                  } )
    ********/
    
    Return { aSX3, aTabs }
</textarea>

<div fxLayout="col" fxLayoutAlign="start start" fxLayoutGap="30px">
    <ul>
    <li>XMLPU010 - Manipula query de seleção de dados para exportação dos cadastros e movimentos.
    </ul>
</div>

<textarea class="box" autosize readonly="true" >

    User Function XMLPU010

    Local cTab := Paramixb[1]
    Local cQry := Paramixb[2]
    
    Return cQry
</textarea>