<h1 class="titulo">

    <div fxLayout="col" fxLayoutAlign="center start" fxLayoutGap="30px">
        <span>Conversão de CTE</span>
    </div>

</h1>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    A conversão ocorre automaticamente caso haja regra DePara cadastrada, porém caso não tenha o documento ficará como
    não convertido, para ver o documento acesse Gestor Fiscal -> Escrituração -> CT-e Recebidos
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/conv-cte-mnu.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Pesquise e selecione o documento:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/conv-cte-sel.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Clique com marcados -> Importar regra:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/conv-cte-regra.png" class="img-fluid" />
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    Caso falte alguma regra DePara aparecerá uma mensagem avisando o que está faltando:
</div>

<div class="text" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <img src="assets/img/conv-cte-sem-regra.png" class="img-fluid" />
</div>